form {
    display: flex;
    gap: 12px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.Button {
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px 12px;
}